body{
	font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	overflow-x: hidden; 
	padding: 0;
	margin: 0;


}

section{
	width: auto;
	height: auto;

}

header{

	background-color: #18bc9c;
	background-position: 50px;
	height: 500px;
	width: 1300px;

}

ul{

	background-color: #2C3E50;
	text-transform: uppercase;
	padding-bottom: 20px;
	padding-top: 20px;
	text-align: center;
	display: inline-block;
	width: 1250px;
 	height: 50px;
 	font:normal normal normal 10px/5 FontAwesome;


}
li{
	display: inline-block;
	
}
li a{
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	margin: 12px;
}

.imghaider{
	margin: auto 540px;

}
img {
	display: inline;
    border-radius: 60%;
    width: 180px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.intro-text{

	font-weight: bold;
	font-size: 18px;
	text-align: center;
	color: rgba(255, 255, 255, 0.66);

	background-color: #2c3e50;
}

.wrapper{
	text-align: center;		
}
#contact{
	text-align: center;

}

.container{
	
	padding: 20px 20px 20px 20px;
	margin: 20px 20px 20px 20px;
	font-size: 20px;
	font-family: Helvetica;
	background-color: #2c3e50;
	color: white;
}

footer{
	height: 40px;
	text-align: center;
	color: white;
	background-color: #233140;
	font-size: 12px;
	font-style: italic;
}